:global {
  pre:hover .button-play {
    display: block;
  }
}

.code-emitter-block {
  white-space: nowrap;
  min-height: 1.5rem;
  position: relative;
}

.code-emitter-block {
  .button-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: var(--size-2-2);
    left: 0;
    right: 0;
  }

  .button-play,
  .button-clear {
    display: none;
    padding: var(--size-2-2) var(--size-2-3);
    border-radius: var(--radius-s);
    cursor: var(--cursor);
    margin: 0 var(--size-2-2);
  }

  .button-play:hover,
  .button-clear:hover {
    background-color: var(--background-modifier-hover);
  }
}

@media (hover:hover) {
  .code-emitter-block:hover .button-play,
  .code-output:hover .button-clear {
    display: block;
  }
}

.loadding {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr.code-seprator {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.code-output {
  white-space: nowrap;
  position: relative;
  font-size: 0.85em;
  min-height: 2em;

  &>ul {
    list-style: none;
    padding: 0 !important;
    margin: 0;

    &>li {
      white-space: pre-line;
      margin: 0;
    }
  }
}